<!-- Page Content -->
    <div class="container">


        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact Us
                    
                </h1>
                <div class="col-md-10">
                <p>Contact us to set up a free consultation and job estimate at a time that is right for you, or get in touch to ask us about a project you’re undertaking – we’d love to share our expertise. </p>
                <br/>
               
            </div>
            </div>
        </div>
        <!-- /.row -->



 <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                
                <div class="row">
                  <%= form_for @contact do |f| %>
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= f.label :name %>
                            <%= f.text_field :name, required: true, class: "form-control" %> 
                        </div>
                        <div class="form-group">
                            <%= f.label :email %>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <%= f.text_field :email, required: true, class: "form-control" %></div>
                        </div>
                         <div class="form-group">
                             <%= f.label :phone %>
                    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                </span>
                                <%= f.text_field :phone,  class: "form-control" %></div>
                                </div>
                       
                     
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <%=f.label :message %>
                            <%=f.text_area :message, as: :text, required: true, :id => "message", class: "form-control", :rows=>"9", :cols => "25" %>
                           
                        </div>
                    <div class ="hidden">
                     <%=f.label :nickname %>
                            <%=f.text_area :nickname, hint: 'leave this field blank' %>
                        
                    </div>

                    </div>
                    <div class="col-md-12">
                        <%= f.submit 'Send Message', class: "btn btn-primary pull-right" %>
                      
                           
                      <% end %>      
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
        
            <legend><i class="fa fa-globe" aria-hidden="true"></i>Get in Touch</legend>
            <address>
                <strong>LPL Painters, Inc.</strong><br>
                
                <abbr title="Phone">
                    P:</abbr>
                (807) 355-0497 (Adam)
                <br/>
                <abbr title="Phone">
                    P:</abbr>
                (807) 630-8328 (Leif) 
            </address>
            <address>
                <strong>Email:</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
          

            

        </div>