
 <title>EXTERIOR PHOTO GALLERY : LPL PAINTERS INC.</title>
<meta name="description" content="Creating exteriors with esthetic appeal, this gallery contains a sample of completed exterior projects by LPL PAINTERS INC. Thunder Bay">


<script type="text/javascript">


$('#lightbox1').featherlight($('#lightbox1'), {});
  

</script>



    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Outside Gallery:
                     Selected Exterior Work <small><% if user_signed_in? %>
                     <div id="gold" class="text-right">
                         <i class="fa fa-plus-circle"><%=link_to "Add a New Place", new_place_path%></i>
                      </div></small>
                      </h1>
                     
                     <% end %>
                
            </div>
        </div>
        <!-- /.row -->




        <!-- Portfolio Item Row -->
        
         <% if @places.present?  %>
         <% n = 0%>
        <% @places.each do |place| %>
       <% if place.outside == true %>
       <% if place.photos.present? %>
     
     <div class="row">
     
       <div class="col-md-6">
       <a href="#" data-featherlight="#lightbox<%=n%>">
         <div id="lightbox<%=n%>">
            <%= image_tag place.photos.last.image, class: 'img-responsive well well-sm'%></div> 
         </div>
        </a>

            <div class="col-md-6">
             <% if current_user && current_user == place.user %>
                <h3><%= link_to place.title, place_path(place) %></h3>
                <p class="text-justify"><%= place.description%></p>
                <% else %>
                <h3><%= place.title %></h3>
                <p><%=place.description%></p>

               <% end %>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Photos Row -->
        <div class="row">
            
            <%place.photos.each do |pic|  %>
            <% n = n+1%>
            <div class="col-sm-3 col-xs-6" >
               <a href="#" data-featherlight="#lightbox<%=n%>">
                 <div id="lightbox<%=n%>">
                  <%= image_tag pic.image, class: "img-responsive well well-sm" %>
                </div>
              </a>
            </div>
            <% end %> 

            
          </div>  
           
            <br/>
            <hr class= 'bold'/>
            
        <!-- /.row -->

    

       

        <% else %>
    
      <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="https://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                 <% if current_user && current_user == place.user %>
                <h3><%= link_to place.title, place_path(place) %></h3>
                <p><%=place.description%></p>
                <% else %>
                <h3><%= place.title %></h3>
                <p><%=place.description%></p>
                <% end %>
                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>

        <% end %>
        <% end %>
        <% end %>
        

        <% else %>

         <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="https://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3>Coming Soon</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <% end %>
        

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <%= will_paginate @places %>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>

       




        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <%= will_paginate @places %>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>

    
