 
<script type="text/javascript">
  
$.featherlight($('#mylightbox1'), {})


</script>



 <div class="booyah-box col-lg-8 col-lg-offset-2">

<h1><%= @place.title %></h1>

<br/><br/>
<p><%= @place.description %></p>
<div class="float-right">
  <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
  <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: 'btn btn-danger'%>
</div>  
<br/>
<% n = 0%>
<% @place.photos.each do |pic| %>
<% n = n+1%>
 <a  href="#" data-featherlight="#mylightbox<%=n%>">
<div id="mylightbox<%=n%>"><%=image_tag pic.image%></div>
</a>

<br/>
<br/>

<% end %>



 <h4>Add a Photo</h4>
<%= simple_form_for @photo, url:  place_photos_path(@place) do |f| %>
  <%= f.input :image, as: :file %> 
  <%= f.submit "Add a Photo", class: 'btn btn-primary'  %>
<% end %>

</div>




