
<script type="text/javascript">


$('#lightbox1').featherlight($('#lightbox1'), {});
  



</script>




<div class="booyah-box col-lg-10 col-lg-offset-1">
<h1>Edit: <%= @place.title %> <small> (Current Title, Descriptions and Photos Displayed)</small></h1>

<br/>
<h4>Date: <%=@place.date%></h4>
<br/>
<p class="text-justify" id="showdpad"><%= @place.description %></p>
<div class="text-right">
  <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
  <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete this project?"}, class: 'btn btn-danger'%>
</div> 
</div> 
<br/>
 
<div class="container">

  
 <div class="row"> 
    <% n = 0%>
    <% @place.photos.each do |pic| %>
    <% n = n+1%>
          <div class="col-sm-3 col-xs-6">
                <a href="#" data-featherlight="#lightbox<%=n%>">
                  <div id="lightbox<%=n%>">
                   <%= image_tag pic.image, class: "img-responsive portfolio-item well well-sm threed" %>
                 </div>
                </a>
            </div>
    <% end %>       
  </div>
  
           

<div class="row"> 
<div class="booyah-box col-lg-8 col-lg-offset-2">
<div class = "row">
 <div class= col-lg-3><h4 >Add a Photo: </h4></div>
<%= simple_form_for @photo, url:  place_photos_path(@place) do |f| %>
  <div class="col-lg-2 col-lg-offset-1 choosefile">
  <%= f.input :image, as: :file, label: false %> 
  </div>
  </div>
  <div class="text-right">
  <%= f.submit "Upload", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

</div>
</div>





