<h3>Project Information</h3>

<h1><%= @place.title %></h1>

<br/><br/>
<p><%= @place.description %></p>
<% @place.photos.each do |pic| %>
<%= image_tag pic.image, class: 'img-responsive' %>
<% end %>

 <h4>Add a Photo</h4>
<%= simple_form_for @photo, url:  place_photos_path(@place) do |f| %>
  <%= f.input :image, as: :file %> 
  <%= f.submit "Add a Photo", class: 'btn btn-primary' %>
<% end %>


